tibco-repo/trunk/asbw/ASBW/samples/Persister_jdbc_mysql/Persister_jdbc_mysql/Service Descriptors/ReadActionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://xmlns.example.com/20151126144638" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReadActionService" targetNamespace="http://xmlns.example.com/20151126144638"> 
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/20151126144638" xmlns:Q1="http://www.example.org/Tuple">
            <xsd:import namespace="http://www.example.org/Tuple"></xsd:import>
            <xsd:element name="readActionOperationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readActionOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readActionOperationFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fault" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="readActionOperationRequest">
    <wsdl:part element="tns:readActionOperationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="readActionOperationResponse">
    <wsdl:part element="tns:readActionOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="readActionOperationFault">
    <wsdl:part element="tns:readActionOperationFault" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="ReadActionService">
	   <wsdl:operation name="readActionOperation">
	      <wsdl:input message="tns:readActionOperationRequest" name="operationInput"/>
	      <wsdl:output message="tns:readActionOperationResponse" name="operationOutput"/>
	      <wsdl:fault message="tns:readActionOperationFault" name="Fault"/>
	   </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>