tibco-repo/trunk/asbw/ASBW/samples/Persister_jdbc_mysql/Persister_jdbc_mysql/Schemas/Tuple.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/Tuple" elementFormDefault="qualified" targetNamespace="http://www.example.org/Tuple">

    <element name="Tuple" type="tns:Tuple"/>
    
    <complexType name="Tuple">
    	<sequence>
    		<element name="id" type="integer"/>
            <element name="value" type="string"/>
        </sequence>
    </complexType>
</schema>